# 1. Criando uma função para converter país em continente, a partir do arquivo de usuários

## 1.1 Abra o arquivo de usuários usando pandas

In [1]:
import pandas as pd
df1 = pd.read_csv('./dados/worldwide_internet_users-users.csv')
df1.describe()

       Country or area  Subregion  Region Internet users     Population
count              214        214     214            214            212
unique             214         22       5            214            212
top              China  Caribbean  Africa  1,010,740,000  1,427,647,786
freq                 1         20      55              1              1

## 1.2 Crie um dicionário chamado “mapeamento_continente”

In [2]:
mapeamento_continente = {}

## 1.3 Crie uma função "mapear"

In [3]:
# mapeamento_continente = { df['Country or area'][i]:df['Region'][i] for i in range(0, len(df.index))}
def mapear(dataframe, pais, continente):
    return { dataframe[pais][i]:dataframe[continente][i] for i in range(0, len(dataframe.index))} # Dictionary crompreenhsion
mapeamento_continente = mapear(df1, 'Country or area', 'Region')

## 1.4 Crie uma função 'retorna_continente'

In [4]:
def retorna_continente(mapeamento_continente, pais):
    try:
        return mapeamento_continente[pais]
    except:
        print("Não existe esse país em nossa base")
        return None
print(retorna_continente(mapeamento_continente, 'Brazil'))
print('-----')
print(retorna_continente(mapeamento_continente, 'Brasil'))

Americas
-----
Não existe esse país em nossa base
None

# 2. Adicionando a informação de continente na tabela de velocidades, a partir do mapeamento do arquivo de usuários

## 2.1 Abra o arquivo de velocidades usando pandas

In [5]:
import pandas as pd
df2 = pd.read_csv('./dados/worldwide_internet_speed_in_2022-avg_speed.csv')

## 2.2 Adicione uma nova coluna 'Continente' ao DataFrame

In [6]:
df2["Continente"] = df2.apply(lambda row: retorna_continente(mapeamento_continente, row['Country']), axis=1)
df2

Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base
Não existe esse país em nossa base

         Country  Avg \n(Mbit/s)Ookla Continente
0         Canada                75.18   Americas
1    South Korea               117.95       Asia
2    Netherlands               108.33     Europe
3          Japan                44.05       Asia
4         Norway               134.73     Europe
..           ...                  ...        ...
139        Sudan                 9.50     Africa
140         Cuba                 9.10   Americas
141   Tajikistan                 7.05       Asia
142    Venezuela                 5.68   Americas
143    Palestine                 4.89       Asia

[144 rows x 3 columns]

# 3. Trabalhando com os dados de usuários de Internet

## 3.1 Abra o arquivo de usuários de internet novamente

In [7]:
import pandas as pd
df3 = pd.read_csv('./dados/worldwide_internet_users-users.csv')

## 3.2 Crie novas colunas do tipo 'int' para as colunas 'Population' e 'Internet users'

In [8]:
# Checa quantidade de nulls na coluna 'Population'
df3['Population'].isnull().sum()

2

In [9]:
# Checa quantidade de nulls na coluna 'Internet users'
df3['Internet users'].isnull().sum()

0

In [10]:
# Descarta os nulls das duas colunas
df3.dropna(axis='index', subset=['Internet users', 'Population'], inplace=True)

In [11]:
# Confere que os nulls na coluna 'Population' foram removidos
df3['Population'].isnull().sum()

0

In [12]:
# Transforma a coluna 'Population' em "Series", para depois transformar em "string". Remove as virgulas da string, e transforma em int
df3["Population"] = pd.Series(df3["Population"]).str.replace(',', '').astype(int)

In [13]:
# Transforma a coluna 'Internet users' em "Series", para depois transformar em "string". Remove as virgulas da string, e transforma em int
df3["Internet users"] = pd.Series(df3["Internet users"]).str.replace(',', '').astype(int)

In [14]:
# Checa o tipo das colunas
df3.dtypes

Country or area    object
Subregion          object
Region             object
Internet users      int64
Population          int64
dtype: object